<% layout("/layouts/boilerplate") %>

<div class="row mt-4">

  <div class="col-md-4 mb-4">
    <div class="card service-card">
      <img src="https://images.unsplash.com/photo-1501785888041-af3ef285b470" class="service-img">
      <div class="card-body">
        <h5>Travel Guide</h5>
        <p>Get expert travel guidance</p>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card service-card">
      <img src="https://images.unsplash.com/photo-1519003722824-194d4455a60c" class="service-img">
      <div class="card-body">
        <h5>Transport Booking</h5>
        <p>Book cabs and rentals easily</p>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card service-card">
      <img src="https://images.unsplash.com/photo-1504674900247-0877df9cc836" class="service-img">
      <div class="card-body">
        <h5>Food & Dining</h5>
        <p>Explore local cuisines</p>
      </div>
    </div>
  </div>

</div>